{% extends "base.html.twig" %}

{% block body %}

<div class="container">
    <h1 class="titlehobbie pb-4">Associations sportives</h1>
    <p class="text-center font-italic">Il propose aux élèves la pratique d'un ou de plusieurs sports chaque semaine, tout au long de l'année, à raison de 3 heures (tout particulièrement le mercredi après-midi et parfois le samedi après-midi). Le sport scolaire est complémentaire des enseignements d’EPS.</p>
    <p class="text-center font-italic">L’inscription à l’AS est facultative mais elle sous-entend l’adhésion des élèves à plusieurs règles afin de participer pleinement et sérieusement à la vie associative.</p>
    <div class="row justify-content-center">      
        <div class="col-8 mb-2 text-center">
            <h1 class="titlehobbie">Football</h1>
            <img src="https://lcds-blog.s3.amazonaws.com/uploads/2017/07/ballon-football-1-840x400.jpg" class="rounded mx-auto d-block w-100" alt="">
            <p>Prendre du plaisir en venant tous les mercredis s’entrainer ou participer aux compétitions.Développer ses compétences sportives par des entrainements réguliers, des compétitions.</p>
            <a href="" class="btn btn-info btn-lg active" role="button" aria-pressed="true">pré inscription</a>
        </div>
        <div class="col-8 mb-2 text-center">
            <h1 class="titlehobbie">Basket</h1>
            <img src="https://le-basket.fr/wp-content/uploads/2017/10/ballons-de-basket-nba-1-1000x500.jpg" class="rounded mx-auto d-block w-100" alt="">
            <p>Prendre du plaisir en venant tous les mercredis s’entrainer ou participer aux compétitions.Développer ses compétences sportives par des entrainements réguliers, des compétitions.</p>
            <a href="" class="btn btn-info btn-lg active" role="button" aria-pressed="true">pré inscription</a>
        </div>
        <div class="col-8 mb-2 pb-4 text-center">
            <h1 class="titlehobbie">Volley</h1>
            <img src="https://conseils.casalsport.com/wp-content/uploads/2019/04/composition-ballon-volley.jpg" class="rounded mx-auto d-block w-100" alt="">
            <p>Prendre du plaisir en venant tous les mercredis s’entrainer ou participer aux compétitions.Développer ses compétences sportives par des entrainements réguliers, des compétitions.</p>
            <a href="" class="btn btn-info btn-lg active" role="button" aria-pressed="true">pré inscription</a>
        </div>
    </div>
</div>

{% endblock %}