
{% extends 'base.html.twig' %}




{% block title %}Activités scolaire{% endblock %}

{% block body %}

<div class=" container-fluid  ">

  <h1 class="titlehobbie">Activités scolaire</h1><hr>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
  Nostrum quia facilis eum minima vitae maiores, optio explicabo quasi quibusdam neque inventore iusto consequuntur.
  Accusantium quam sint deserunt, soluta ex illum.</p>

  <div class="d-flex justify-content-around pb-4">


    <div class="col-md-3 mb-4 border border-secondary rounded text-center   ">
      <h3>Associations sportives</h3>
      <div id="car1" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner pb-2">
          <div class="carousel-item active">
           <img src="https://lcds-blog.s3.amazonaws.com/uploads/2017/07/ballon-football-1-840x400.jpg" class="imghobbie d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
           <img src="https://le-basket.fr/wp-content/uploads/2017/10/ballons-de-basket-nba-1-1000x500.jpg" class="imghobbie d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
           <img src="https://conseils.casalsport.com/wp-content/uploads/2019/04/composition-ballon-volley.jpg" class="imghobbie d-block w-100" alt="...">
          </div>
        </div>
      </div>
          <a href="{{ path('club') }}" class="btn btn-info btn-lg active mb-2" role="button" aria-pressed="true">Afficher</a>
    </div>
    <div class="col-md-3 mb-4 border border-secondary rounded text-center  ">
      <h3> Voyages linguistique</h3>
      <div id="car2" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner pb-2">
          <div class="carousel-item active">
           <img src="https://www.hghoteles.com/assets/img/gallery/sagrada-familia-barcelona-1.jpg" class="imghobbie d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
           <img src="https://images7.alphacoders.com/430/thumb-1920-430791.jpg" class="imghobbie d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
           <img src="https://www.1zoom.me/big2/78/224621-Sepik.jpg" class="imghobbie d-block w-100" alt="...">
          </div>
        </div>
      </div>
          <a href="{{ path('voyage') }}" class="btn btn-info btn-lg active mb-2" role="button" aria-pressed="true">Afficher</a>
    </div>
      <div class="col-md-3 mb-4 border border-secondary rounded  text-center  ">
        <h3> Mediatheque</h3>
        <div id="car3" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner pb-2">
            <div class="carousel-item active">
             <img src="https://picsum.photos/200/200" class="imghobbie d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
             <img src="https://picsum.photos/200/200" class="imghobbie d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
             <img src="https://picsum.photos/200/200" class="imghobbie d-block w-100" alt="...">
            </div>
          </div>
        </div>
          <a href="{{ path('media') }}" class="btn btn-info btn-lg active mb-2" role="button" aria-pressed="true">Afficher</a>
    </div>




  </div>
</div>


   

{% endblock %}
