{% extends "base.html.twig" %}

{% block body %}
    <h3 class="titlepresentation">Présentation du collège</h3>
    <div class="textpresentation">
        <p>Le passage au collège est une étape importante dans la scolarité de votre enfant.</p> 
        <p>Fonctionnement de l'établissement, interlocuteurs, enseignements, parcours éducatifs : découvrez le cadre dans lequel évoluent les collégiens. </p>
    </div><hr>
    <h4 class="littletitle">Les enseignements obligatoires</h4>
    <div class="textpresentation">
        <p>Tous les élèves du collège ont 26 heures hebdomadaires d'enseignements obligatoires, auxquels peuvent s'ajouter des enseignements facultatifs.</p> 
        <p>Sur les 26 heures d’enseignements obligatoires,les enseignements complémentaires (enseignements pratiques interdisciplinaires (EPI) et accompagnement personnalisé) représentent 3 heures en 6e (cycle 3) et 4 heures en 5e, 4e, 3e (cycle 4). La répartition entre les enseignements complémentaires est fixée par le conseil d’administration de l’établissement. </p>
    </div><hr>
    <h4 class="littletitle">Les enseignements facultatifs</h4>
    <div class="textpresentation">
        <p>Dans son collège, votre enfant peut se voir proposer, en plus des 26 heures hebdomadaires d’enseignements obligatoires, la possibilité de suivre un ou plusieurs enseignements facultatifs.</p>
    </div>
{% endblock %}