{% extends "base.html.twig" %}

{% block body %}
    <h3 class="titlerule">Réglement Interieur</h3>
    <div class="textrule"> 
        <p>A partir de 2020, le réglement interieur ne sera plus inscrit dans les carnets des élèves . Il sera en libre accès et a télécharger en cliquant sur le lien de dessous. Merci de bien le lire. </p>
        <p>Veuillez a bien le signer et a toujours l'avoir sur vous</p>
        <p>Les Professeurs et le Directeur pourra demander a un élève de lui montrer si il a sur lui le réglement interieur SIGNE .</p>
    </div>

    <p class="download">Cliquez <a href="#" download="#">ici</a> pour Télécharger le réglement interieur</p>
{% endblock %}